.header {
    height: 84px;
    padding: 12px 0;
    margin-bottom: 35px;
    background: white;
    border-radius: 2px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);

    &__container {
        display: flex;
        align-items: center;
    }

    &__menu {
        flex: 1;

        & .menu {
            margin-left: 40px;

            @include xl {
                margin-left: 100px;
            }
        }
    }

    &__button:first-of-type {
        margin-left: 0;
    }

    &__button {
        border: none;
        cursor: pointer;
        background: none;

        font-size: 18px;
        margin-left: 10px;
        
        width: 48px;
        height: 48px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}
