.badge {
    display: inline-block;
    padding: 6px 17px;
    border-radius: 5px;
    font-size: 16px;

    &--accent {
        background: $brand-color;
        color: white;
    }

    &--success {
        background: $green;
        color: white;
    }
}
