.block {
    margin-bottom: 36px;

    &__head {
        font: 500 16px $text-font-stack;
        margin: 16px 2px 8px;
    }

    &__body {
        background: white;
        border-radius: 5px;
        padding: 20px;

        & p {
            margin-top: 0;
            margin-bottom: 8px;
        }

        & .table {
            width: 100%;
        }

        & .table:first-child .table__row:first-child .table__cell {
            padding-top: 0;
        }

        & .table:last-child .table__row:last-child .table__cell {
            padding-bottom: 0;
        }
    }
}
