.button {
    background: $brand-color;

    border-radius: 5px;
    padding: 11px 26px;
    display: inline-block;

    &,
    &:hover,
    &:focus {
        color: white;
        text-decoration: none;
    }

    &:hover {
        background: lighten($brand-color, 10%);
    }

    &:focus,
    &:active {
        background: darken($brand-color, 10%);
    }
}
