.menu {
    @include reset-list;

    display: none;
    align-items: center;

    @include lg {
        display: flex;
    }

    &__item:first-child &__link {
        margin-left: 0;
    }

    &__item:last-child &__link {
        margin-right: 0;
    }

    &__link {
        margin: 0 15px;
        padding: 28px 0;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 4px solid transparent;

        &--active {
            border-bottom-color: $brand-color;
        }
        
        &--detail {
            position: relative;

            &::after {
                position: absolute;
                top: 50%;
                right: -17px;
                
                width: 12px;
                height: 8px;
                margin-top: -4px;
                
                content: '';
                background: url("data:image/svg+xml;utf8,<svg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 1.6998L10.6 0.299805L6 4.8998L1.4 0.299804L1.84615e-06 1.6998L6 7.6998L12 1.6998Z' fill='%234F4F4F'/></svg>");
            }
        }
    }
}
