.product-slider {
    position: relative;

    height: $product-slider-height;
    max-height: $product-slider-height;

    &__badge-panel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        margin: 16px;
        z-index: 1;

        @include md {
            margin: 26px;
        }

        & .badge {
            margin-right: 11px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    & .slick-slide,
    & .slick-slider {
        outline: 0;
        overflow: hidden;
        max-height: $product-slider-height;
    }

    @include lg {
        & .slick-slide {
            height: $product-slider-height;
        }
    }

    &__items {
        margin: 0;
        padding: 0;
        border-radius: 0 0 5px 5px;

        @include lg {
            border-radius: 0 5px 5px 0;
        }

        & .slick-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: $product-slider-height;
        }
    }

    &__navigation-panel {
        position: absolute;

        left: 0;
        bottom: -45px;
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;

        & .slick-dots {
            @include reset-list;

            display: flex;
        }
    }

    &__prev,
    &__next {
        border: 0;
        cursor: pointer;
        background: none;

        outline: 0;
        display: flex;
        align-items: center;
    }

    &__dots {
        position: relative;
        padding: 0 10px;
        margin: 0 20px;

        &::after {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            content: '';

            height: 1px;
            z-index: -1;

            background: $product-slider-dot-background;
        }

        & button {
            outline: 0;
            cursor: pointer;
            margin: 0 4px;
            padding: 0;
            
            border-radius: 50%;
            
            width: 16px;
            height: 16px;
            display: block;
            
            color: transparent;
            border: 3px solid $light-grey;
            background: $product-slider-dot-background;

            &:hover {
                background: $brand-color;
            }
        }

        & .slick-active button {
            background: $brand-color;
        }
    }
}
