.product {
    border-radius: 5px;
    margin-bottom: 75px;

    @include lg {
        margin-bottom: 55px;
    }

    background: white;

    display: flex;
    flex-direction: column;

    @include lg {
        flex-direction: row;

        &__column {
            width: 50%;
        }
    }

    &__column {
        flex: 1;
    }

    &__body {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;

        @include md {
            padding: 25px;
        }
    }

    &__category {
        display: none;
        color: $brand-color;

        @include md {
            display: block;
        }
    }

    &__title {
        font-size: 26px;
        margin: 4px 0 25px;
        
        @include md {
            font-size: 34px;
            margin: 10px 0 25px;
        }
    }

    &__trademark {
        flex: 1;
    }

    &__text {
        line-height: 28px;
        font-size: 18px;
    }
}
