.section {
    &__head {
        font-size: 24px;
        margin-bottom: 3px;

        @include md {
            font-size: 32px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }
    }

    &__column {
        flex: 1;

        @include lg {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
