.table {
    &__row:last-child &__cell {
        border-bottom: 0;
    }

    &__cell {
        font-size: 14px;
        line-height: 25px;
        padding: 15px 0;

        border-bottom: 1px solid rgba(0,0,0,.2);

        &--accent {
            font-size: 16px;
            font-weight: 500;
            color: $brand-color;
        }
    }
}
