// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Headings font family
/// @type List
$heading-font-stack: 'Opinion Pro', $text-font-stack;



/// Copy text color
/// @type Color
$text-color: #2F2F2F !default;

/// Main brand color
/// @type Color
$brand-color: #ED1C24 !default;

/// Light grey
/// @type Color
$light-grey: #F2F2F2 !default;

/// Medium grey
/// @type Color
$mid-grey: #828282 !default;

/// Dark grey
/// @type Color
$dark-grey: #4F4F4F !default;

/// Green
/// @type Color
$green: #47BB3A !default;


$product-slider-dot-background: #BDBDBD !default;


/// Container's maximum width
/// @type Length
$max-width: 1280px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/' !default;

$product-slider-height: 497px !default;
