// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Opinion Pro';
    font-weight: 300;
    font-style: normal;
    src: local('Opinion Pro Light'), local('Opinion-Pro-Light'),
        url('/fonts/OpinionProLight/OpinionPro-Light.woff2') format('woff2'),
        url('/fonts/OpinionProLight/OpinionPro-Light.woff') format('woff'),
        url('/fonts/OpinionProLight/OpinionPro-Light.ttf') format('truetype');
}
