/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 16px $text-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-stack;
  font-weight: 300;
}
